body    {
    background-color: orange;
}
h1, h2  {
    font-display: center;
    color: royalblue;
    font-size: 50px;
}
.image-container    {
    float: center;
    position: absolute;
    margin-top: 20px;
}
.label  {
    font-weight: bold;
}
.create-form    {
    padding: 5px;
    margin: 5px;
}
.form-group {
    margin-bottom: 5px;
}